.root {
  -fx-background-color: #00b88f;
  background-color: #00b88f;
  -fx-text-fill: #efefef;
  -fx-font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}

.campoTexto {
  -fx-background-color: #efefef;
  background-color: #efefef;
  -fx-border-color: #efefef;
  border-color: #efefef;
  -fx-border-width: 0px;
  border-width: 0px;
  -fx-border-radius: 5px;
  border-radius: 5px;
  -fx-text-fill: #00b88f;
  -fx-font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}

.text-field {
  -fx-prompt-text-fill: #02795f9b;
  -fx-text-fill: #00b88f;
  -fx-font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}

.botonOperacion {
  -fx-background-color: #0060b8;
  background-color: #0060b8;
  -fx-border-color: #0060b8;
  border-color: #0060b8;
  -fx-border-width: 0px;
  border-width: 0px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  border-radius: 5px;
  -fx-text-fill: #efefef;
  -fx-font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  -fx-scale-x: 1;
  -fx-scale-y: 1;
  -fx-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.botonOperacion:hover {
  -fx-cursor: hand;
  cursor: hand;
  -fx-scale-x: 1.02;
  -fx-scale-y: 1.02;
  -fx-background-color: #0050a0;
  background-color: #0050a0;
  -fx-border-color: #0050a0;
  border-color: #0050a0;
  -fx-effect: dropshadow(three-pass-box, #0c6955, 10, 0, 0, 0);
}

.botonOperacion:pressed {
  -fx-cursor: hand;
  cursor: hand;
  -fx-scale-x: 1;
  -fx-scale-y: 1;
}

.botonEliminacion {
  -fx-background-color: #b80000;
  background-color: #b80000;
  -fx-border-color: #b80000;
  border-color: #b80000;
  -fx-border-width: 0px;
  border-width: 0px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  border-radius: 5px;
  -fx-text-fill: #efefef;
  -fx-font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  -fx-scale-x: 1;
  -fx-scale-y: 1;
  -fx-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.botonEliminacion:hover {
  -fx-cursor: hand;
  cursor: hand;
  -fx-scale-x: 1.02;
  -fx-scale-y: 1.02;
  -fx-background-color: #a00000;
  background-color: #a00000;
  -fx-border-color: #a00000;
  border-color: #a00000;
  -fx-effect: dropshadow(three-pass-box, #0c6955, 10, 0, 0, 0);
}

.botonEliminacion:pressed {
  -fx-cursor: hand;
  cursor: hand;
  -fx-scale-x: 1;
  -fx-scale-y: 1;
}

.listaDesplegable {
  -fx-background-color: #efefef;
  background-color: #efefef;
  -fx-border-color: #efefef;
  border-color: #efefef;
  -fx-border-width: 0px;
  border-width: 0px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  border-radius: 5px;
  -fx-prompt-text-fill: #02795f9b;
  -fx-text-fill: #00b88f;
  -fx-font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}

.listaDesplegable:hover {
  -fx-cursor: hand;
  cursor: hand;
}

.text-area {
  -fx-prompt-text-fill: #02795f9b;
  -fx-text-fill: #00b88f;
}

.universidadVeracruzana {
  -fx-font-size: 10px;
  font-size: 10px;
  -fx-text-fill: #efefef;
  -fx-font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}

.sgbp {
  -fx-font-size: 36px;
  font-size: 36px;
  -fx-text-fill: #efefef;
  -fx-font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}

.apartado {
  -fx-font-size: 15px;
  font-size: 15px;
  -fx-text-fill: #efefef;
  -fx-font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}

.panel {
  -fx-background-color: #efefef;
  background-color: #efefef;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  border-radius: 5px;
  -fx-scale-x: 1;
  -fx-scale-y: 1;
  -fx-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.etiqueta {
  -fx-font-size: 10px;
  font-size: 10px;
  -fx-text-fill: #00b88f;
  -fx-font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}
